*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  max-width: 1200px;
}

.result {
  padding-inline-end: 30px;
}

.result__video-container {
  margin-block-end: 16px;
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-block-end: 5px;
}

.search-form__fieldset {
  border: none;
  padding-inline-end: 40px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__label .search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-width: 225px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 18px;
  min-width: 212px;
}

.search-form__textfield {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  padding: 2.5px;
  appearance: none;
}

.button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 6px 0;
  width: 100%;
}

.search-form .search-form__submit-button {
  align-self: end;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.content__details {
  width: 100%;
  min-height: 534px;
}

.content__list {
  max-height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list-item {
  margin-block-end: 30px;
}

.content__list-item:last-child {
  margin-block-end: 0;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-block-end: 24px;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-block-end: 6px;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 16.2px;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 2px;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

input[type="checkbox"]:checked + span {
  outline: 1px solid white;
  outline-offset: 1px;
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:active {
  background-color: #545050;
}
